:root {
  font-size: 10px;
}

/*----------------------- HEADER --------------------------------*/

header {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
}

.first {
  display: flex;
  justify-content: space-between;
}

/*------------ ICON-CONTAINER -----------*/

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container > a {
  width: 2rem;
  background-color: var(--black);
  padding: 2rem;
}

.icon-container > p {
  color: var(--white);
  text-transform: capitalize;
  margin-left: 0.5rem;
  font-size: 2rem;
  font-family: font-bold;
}

/*------------ NAVBAR-CONTAINER -----------*/

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-container > a {
  text-transform: uppercase;
  color: var(--white);
  margin-right: 2rem;
  font-size: 1.5rem;
  transition: 300ms color ease-in-out;
}

.navbar-container > a:hover {
  color: var(--yellow);
}

.navbar-container > a:last-child {
  margin-right: 0px;
}

/*------------ SEARCH-BUTTON -----------*/

.search-button a {
  color: var(--white);
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 2.4rem;
  background-color: var(--black);
}

/*------------ IMAGE-CONTAINER -----------*/

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  height: 35rem;
  width: 100%;
}

.content {
  color: var(--white);
  font-weight: 100;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.content h1 {
  font-size: 2.5rem;
}

.content .buttons {
  margin-top: 8rem;
}

.content .buttons a {
  font-size: 1.5rem;
  text-transform: capitalize;
  border: none;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  margin-right: 2rem;
  color: var(--white);
}

.content .buttons a:last-child {
  margin-right: 0px;
}

.content .buttons a:hover {
  color: var(--black);
}

.yellow {
  background-color: var(--yellow);
  transition: 300ms all ease-in-out;
}

.blue {
  background-color: var(--blue);
  transition: 300ms all ease-in-out;
}

/*----------------------- MAIN --------------------------------*/

/*------------ MAIN-CONTAINER -----------*/

main {
  margin-top: 10rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10rem;
}

.main-container h2 {
  text-transform: uppercase;
  color: var(--blue);
  font-size: 2rem;
  font-family: font-bold;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 10rem;
  align-items: flex-start;
}

.blog-posts .post {
  /* box-shadow: 5px 10px 18px #888888; */
  background-color: var(--white);
  width: 30%;
}

.blog-posts .post img {
  width: 100%;
}

.blog-posts .post p {
  text-align: center;
  font-size: 1.5rem;
  color: var(--black);
  padding: 1.5rem 0rem;
  transition: 200ms all ease-in-out;
}

.post:hover p {
  background-color: var(--blue);
  font-family: font-bold;
  color: white;
}

.post:last-child {
  position: relative;
  bottom: 7rem;
}

.post:nth-child(4) {
  position: relative;
  bottom: 9rem;
}

/*------------ MAIN-CONTAINER-2 -----------*/

.main-container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container-2 img {
  width: 100%;
  height: 50rem;
  opacity: 0.9;
  object-fit: cover;
}

.main-container-2 h2 {
  position: absolute;
  color: var(--white);
  font-size: 2.5rem;
  text-transform: uppercase;
  
}

.background-images {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 30rem;
  align-items: center;
}

.background-images img {
  width: 50%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.main-container-2 h2, .background-images{
  margin-bottom: 15rem;
}

/*------------ TOP-RATED -----------*/

.top-rated{
  margin: 10rem 0;
}

.top-rated h2{
  text-align: center;
  color: var(--blue);
  font-size: 2rem;
  font-family: font-bold;
  text-transform: uppercase;
  margin-bottom: 10rem;
}

.top-rated-images{
  display: flex;
  justify-content: space-between;
}

.top-rated-images img{
  width: 14%;
  height: auto;
}

